.outerDiv{
    border: 1px solid gray;
    padding: 15px;
}

.row{
    padding-top: 10px;
}
.validation{
    color: red;
}

.table-responsive thead th {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 1;
}
